@media screen and (max-width: 320px)
  .birdy-map
    margin-bottom 100px
  .birds
    &__infos
      display flex
      flex-direction row-reverse
      justify-content space-between
      color $cWhite
      background-color $cGreen
      padding 20px 10px
      border-radius 5px 5px 0 0
    &__bloc-info
      border-radius 5px
      background-color $cLightGrey
      margin-bottom 30px
      font-family 'opensans'
    &__container
      margin-bottom 100px
    &__img
      width 100px
      height 50%
      border-radius 5px
    &__title
      font-weight: 600
      font-size 16px
      margin-bottom 5px
    &__champ
      display flex
      flex-direction column
      margin-bottom 15px
    &__container-infos
      padding 10px 10px 20px 10px
    &__text
      font-size 14px
      font-style italic
    &__audio
      width 100%
    &__size
      display flex
      flex-direction row
      justify-content space-between
      margin-top 10px
      .birds
        &__title
          margin-right 5px
          color $cDarkBlue
        &__text
          color $cDarkBlue
    &__latin
      margin-bottom 15px
      color $cDarkBlue
      .birds
        &__title
          margin-bottom 5px
          display block
    &__description
      margin-bottom 10px
      color $cDarkBlue
      .birds
        &__title
          margin-bottom 5px
          display flex
        &__text
          line-height 1.6
          color $cDarkBlue