.button
  &__logout
    position absolute
    top 10px
    right 10px
    &:before
      icon('logout')
      font-size 14px
      color $cWhite
  &__home
    position absolute
    top 10px
    left 10px
    &:before
      icon ('home')
      font-size 16px
      color $cWhite
  &__birdcage
    font-size s(14,16)
    background-color $cGreen
    color $cWhite
    font-family 'opensans'
    border-radius 20px
    margin-top s(40,14)
    position relative
    border 1px solid $cLightGreyTwo
    padding s(10,14)
    width 100%
    display block
    &:after
      icon('birdCage')
      position absolute
      right 0
      top 34%
      right 16%
      font-size 14px
      color $cWhite
      display block


