.button
  &__logout
    position absolute
    top 10px
    right 10px
    &:before
      icon('logout')
      font-size 14px
      color $cWhite
  &__home
    position absolute
    top 10px
    left 10px
    &:before
      icon ('home')
      font-size 16px
      color $cWhite
  &__form
    font-size s(14,16)
    background-color $cGreen
    color $cWhite
    font-family 'opensans'
    border-radius 20px
    margin-top s(40,14)
    position relative
    border 1px solid $cLightGreyTwo
    padding s(10,14) s(40,14)
    width 100%
    display block
    &:after
      icon('bird')
      position absolute
      right 0
      top 30%
      right 9%
      font-size 14px
      color $cWhite
      display block
  &__birdcage
    font-size s(14,16)
    background-color $cGreen
    color $cWhite
    font-family 'opensans'
    border-radius 20px
    margin-top s(40,14)
    position relative
    border 1px solid $cLightGreyTwo
    padding s(10,14) s(40,14)
    width 100%
    display block
    &:after
      icon('birdCage')
      position absolute
      right 0
      top 30%
      right 20%
      font-size 14px
      color $cWhite
      display block
  &__capture
    color $cDarkBlue
    font-family 'opensans'
    margin-top s(40,14)
    position relative
    width 100%
    display inline-block
    font-weight 700
    text-align center
    &:after
      icon('arrowRight')
      position absolute
      right 0
      top 29%
      right 10%
      font-size 12px
      color $cDarkBlue
      display block



