.nav
  &__list
    background-color $cDarkGreen
    display flex
    flex-direction row
    justify-content space-between
    position fixed
    bottom 0
    width 100%
  &__item
    color $cWhite
    font-size s(12,16)
    padding s(10,12)
    font-family 'opensans'
  &__link
    &--carte
      &:before
        icon('add')
        display block
        text-align center
        margin-bottom s(10,12)
    &--capture
      &:before
        icon('add')
        display block
        text-align center
        margin-bottom s(10,12)
    &--encyclopedie
      &:before
        icon('add')
        display block
        text-align center
        margin-bottom s(10,12)
    &--users
      &:before
        icon('add')
        display block
        text-align center
        margin-bottom s(10,12)


