@media screen and ( min-width: 320px)
  .title
    color $cDarkBlue
    font-size s(20,16)
    font-family 'montserrat'
    font-weight: 700
    margin s(30,25) 0
    text-align center
  .subtitle
    color $cDarkBlue
    font-size s(16,16)
    font-family 'montserrat'
    font-weight: 700
    margin s(30,16) 0
    text-align center
