.users
  &__container
    margin-bottom 100px
  &__bloc
    display flex
    flex-direction column
    justify-content center
    align-items center
    flex-wrap wrap
    background-color $cLightGrey
    border-radius 10px
    padding 20px
  &__bloc + &__bloc
    margin-top 20px
  &__item
    color $cDarkBlue
    font-family 'opensans'
    margin 0 2.5px
    &--bold
      font-weight:600
    &--email
      font-size 14px
  &__name
    margin-bottom 10px