@media screen and (max-width:320px)
  .users
    &__container
      margin-bottom 100px
    &__bloc
      display flex
      flex-direction column
      justify-content center
      align-items center
      flex-wrap wrap
      background-color $cLightGrey
      border-radius 10px
      padding 20px
    &__bloc + &__bloc
      margin-top 20px
    &__item
      color $cDarkBlue
      font-family 'opensans'
      margin 0 2.5px
      &--bold
        font-weight:600
      &--email
        font-size 14px
      &--id
        margin-top 10px
        font-size 12px
    &__name
      margin-bottom 10px
    &__bloc-capture
      display flex
      flex-direction row
      flex-wrap wrap
      width 25%

  .capture
    &__container
      display flex
      flex-direction row
      flex-wrap wrap
      justify-content center
      align-items center
      margin-bottom 150px
    &__bloc
      width 100%
      background-color $cLightGrey
      font-family 'opensans'
      text-align center
      padding 20px 10px
      border-radius 5px
      display flex
      flex-direction row
      justify-content space-between
      align-items center
    &__bloc + &__bloc
      margin-top 30px
    &__common-name
      font-size 14px
      display flex
      flex-direction column
      justify-content center
    &__bague
      font-size 14px
      display flex
      flex-direction column
    &__title
      font-weight: 700
      margin-bottom 5px
      color $cDarkBlue
    &__title-infos
      text-align left
      font-style italic
    &__empty
      font-family 'opensans'
      font-size 14px
      color $cDarkBlue
      font-weight 600
