$ws_icon-list =       "envelope"  "\e900",
                      "padlock"  "\e901",
                      "arrowRight"  "\e902",
                      "user"  "\e903",
                      "birdCage"  "\e904",
                      "book"  "\e905",
                      "map"  "\e906",
                      "bird"  "\e907",
                      "home"  "\e908",
                      "logout"  "\e909"


